

.paginate {
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    left: 0;
    bottom: 0;
}