@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Playfair+Display:ital,wght@0,400;0,600;1,400&family=Roboto+Mono&display=swap');

.full {
    background-image: url("./dog3.jpg");
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1c1c1c;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 2rem;
}

.content button {
    background-color: #1c1c1c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 20px;
}

.content button:hover {
    background-color: #fff;
    color: #1c1c1c;
    transition: 0.5s;
}