@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Playfair+Display:ital,wght@0,400;0,600;1,400&family=Poppins:wght@200;400&family=Roboto+Mono&display=swap');
.navbar {
    /* background-color: #EF5350 ; */
    /* background-color: #F5B7B1 ; */
    background-color: #1f1f1f;
    color: #fff;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navbar img {
    width: 100px;
    height: 100px;
    border-radius: 30%;
}

.navbar .title {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: poppins;
    text-decoration: none;
}

.navbar .title .link {
    color: #fff;
    text-decoration: none;
}

.search {
    display: flex;
    align-items: center;
}

.input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0 10px;
    font-family: poppins;
}

.navbar .search .input:focus {
    border: 1px solid #fff;
}

.navbar  .search .submit {
    width: 120px;
    height: 30px;
    border-radius: 8%;
    border: none;
    outline: none;
    /* background-color: #1f1f1f; */
    background-color: #F7DC6F;
    /* color: #fff; */
    color: black;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 10px;
    transition: all 0.25s;
    font-family: poppins;
}

.btnCreate {
    width: 120px;
    height: 30px;
    border-radius: 5%;
    border: none;
    outline: none;
    /* background-color: #1f1f1f; */
    background-color: #F7DC6F;
    /* color: #fff; */
    color: black;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.25s;
    font-family: poppins;
}

.btnCreate:hover {
    background-color: #F5B7B1;
    color: #fff;
}

@media(max-width: 768px) {
    .navbar {
        flex-direction: column;

    }

    .navbar .search {
        margin-top: 1rem;
    }
}